<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"  href="../jquery-easyui-1.8.5\themes\default\easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../jquery-easyui-1.8.5/themes/icon.css"/>
    <script type="text/javascript" src="../jquery-easyui-1.8.5/jquery.min.js"></script>
    <script type="text/javascript" src="../jquery-easyui-1.8.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../jquery-easyui-1.8.5\locale\easyui-lang-zh_CN.js"></script>
</head>
<body style="background-color: #6ab8f7 ">
<div align="center">
<h1 align="center" style="font-size: 100px;font-family: 方正舒体;color: black">物资采购电子商务系统</h1>

    <div class="easyui-panel" title="登录" style="width:500px;height: 300px;padding:30px 60px">
    <form action="/loginUser" method="post">
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="loginId" style="width:100%" data-options="label:'用户名:',required:true">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" type="password" name="password" style="width:100%" data-options="label:'密码:',required:true,validType:'password'">
        </div>
        <div style="margin-bottom:50px">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="登录">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="reset" value="重置">
        </div>
    </form>
  </div>
</div>
</body>
</html>